<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz APP</title>
</head>
<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    Welcome to quiz app! <br>
    <a href="/login">Login page</a> <br>
    <a href="/register">Register page</a> <br>

    {% if session['username'] %}
    <a href="/logout">Log out</a>
    {% endif %}

</body>
</html>