<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quiz Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
</head>

<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h1>QUIZ</h1>

    <p>
        Instructions: You have to attempt the following questions in 5 minutes, after which
        the answers will be submitted automatically. A timer is shown here for your reference.
    </p>

    <script>
    // script for timer
    var timeleft = 10 * 60;
    function update_timer() {
        timeleft -= 1;
        if (timeleft <= 0) {
            document.querySelector("form").submit();
        }
        document.querySelector("#timeleft").innerHTML = Math.floor(timeleft / 60) + ":" + timeleft % 60;
    }
    setInterval(update_timer, 1000);
    </script>

    <style>
        #timer {
            position: fixed;
            right: 100px;
            top: 100px;
            width: 150px;
            height: 50px;
        }
    </style>

    <div id="timer">
        Time left:
        <b><span id="timeleft"></span></b>
    </div>

    <form action="/quiz_submit" method="POST">
        <ol>
        {% for q in questions %}
            <li> <b> {{q[1]}} </b> </li>
            <br>
                <input type="radio" name="q{{q[0]}}" value="A" id="rq{{q[0]}}A">
                <i>A.</i> <label for="rq{{q[0]}}A"> {{q[2]}} </label>
            <br>
                <input type="radio" name="q{{q[0]}}" value="B" id="rq{{q[0]}}B">
                <i>B.</i> <label for="rq{{q[0]}}B"> {{q[3]}} </label>
            <br>
                <input type="radio" name="q{{q[0]}}" value="C" id="rq{{q[0]}}C">
                <i>C.</i> <label for="rq{{q[0]}}C"> {{q[4]}} </label>
            <br>
                <input type="radio" name="q{{q[0]}}" value="D" id="rq{{q[0]}}D">
                <i>D.</i> <label for="rq{{q[0]}}D"> {{q[5]}} </label>
            <br><br><br>
        {% endfor %}
        </ol>

        <input type="submit" value="Submit Answers">
    </form>

</body>

</html>