<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
</head>
<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <form action="/register_submit" method="POST">
        <label for="username">Username:</label> <input type="text" name="username" placeholder="Username"><br>
        <label for="password">Password:</label> <input type="password" name="password" placeholder="Password"><br>
        <label for="verify">Verify Password:</label> <input type="text" name="verify" placeholder="Repeat password"><br>
        <input type="submit" value="REGISTER"><br>
    </form>
</body>
</html>