<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <form action="/register_submit" method="POST">
        <label for="username">Username:</label> <input type="text" name="username" placeholder="Username"><br>
        <label for="password">Password:</label> <input type="text" name="password" placeholder="Password"><br>
        <label for="verify">Verify Password:</label> <input type="text" name="verify" placeholder="Repeat password"><br>
        <input type="submit" value="REGISTER"><br>
    </form>
</body>
</html>